<div id="wrapper">
  <div id="label-container">
    <label id="title">Let's help you get ready</label>
    <p>Which of the following best match you?</p>
  </div>
  <div id="selection-container">
    <label class="selection-label">Age</label>
    <div class="row">
      <div class="col">
        <div class="selection-gradient" (click)="selectAge(1)" [ngStyle]="{'background': selectedAge == 1 ? '-webkit-linear-gradient(left top, #1ea5e4, #2463cd)' : 'white'}">
          <button class="selection-btn">22-40</button>
        </div>
      </div>
      <div class="col">
        <div class="selection-gradient" (click)="selectAge(2)" [ngStyle]="{'background': selectedAge == 2 ? '-webkit-linear-gradient(left top, #1ea5e4, #2463cd)' : 'white'}">
          <button class="selection-btn">40-60</button>
        </div>
      </div>
      <div class="col">
        <div class="selection-gradient" (click)="selectAge(3)" [ngStyle]="{'background': selectedAge == 3 ? '-webkit-linear-gradient(left top, #1ea5e4, #2463cd)' : 'white'}">
          <button class="selection-btn">60+</button>
        </div>
      </div>
    </div>
    <label class="selection-label">Gender</label>
    <div class="row">
      <div class="col">
        <div class="selection-gradient" (click)="selectGender(1)" [ngStyle]="{'background': selectedGender == 1 ? '-webkit-linear-gradient(left top, #1ea5e4, #2463cd)' : 'white'}">
          <button class="selection-btn">Male</button>
        </div>
      </div>
      <div class="col">
        <div class="selection-gradient" (click)="selectGender(2)" [ngStyle]="{'background': selectedGender == 2 ? '-webkit-linear-gradient(left top, #1ea5e4, #2463cd)' : 'white'}">
          <button class="selection-btn">Female</button>
        </div>
      </div>
    </div>
    <button id="continue-btn" [disabled]="selectedAge == 0 || selectedGender == 0" (click)="onSubmit()">Continue</button>
  </div>
</div>
