<div id="wrapper">
  <div id="progress-container">
    <div id="get-ready-container">
      <p id="get-ready-label" [ngStyle]="{'color': currentState == 'get-ready' ? 'white': '#cccccc'}">
        1. Get Ready
      </p>
    </div>
    <div class="icon-circle">
      <i class="fa fa-chevron-right"></i>
    </div>
    <div id="customize-container">
      <p id="customize-label" [ngStyle]="{'color': currentState == 'customize' ? 'white': '#cccccc'}">
        2. Customize
      </p>
    </div>
    <div class="icon-circle">
      <i class="fa fa-chevron-right"></i>
    </div>
    <div id="start-container">
      <p id="start-label" [ngStyle]="{'color': currentState == 'start' ? 'white': '#cccccc'}">
        3. Start!
      </p>
    </div>
  </div>
</div>
