<div id="wrapper">
  <div id="inner-wrapper">
    <div id="label-container">
      <label id="title">Q{{(getCurrentSlide() + 1) / 2}}:&nbsp;</label>
      <p>{{getQuestion()}}</p>
    </div>
    <div id="slide-container">
      <div class="selection-container">
        <div *ngFor="let s of getSelections(); let i = index" class="selection-btn-container">
          <div class="selection-gradient" (click)="select(i+1)" [ngStyle]="{'background': getBackground(i+1)}">
            <div class="selection-btn">{{s.name}}</div>
          </div>
        </div>
      </div>
      <button id="continue-btn" [disabled]="selection == 0" (click)="onSubmit()">Submit <i class="fa fa-chevron-right"></i></button>
    </div>
  </div>
</div>
